body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    text-align: center;
}

.testimonials-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    overflow: hidden;
}

.testimonial {
    background-color: #fff;
    border-radius: 8px;
    padding: 40px;
    margin: 10px;
    width: 500px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transform: scale(1);
    box-sizing: border-box;
}

.testimonial:hover {
    transform: scale(1.2);
}


.testimonial-content {
    padding: 10px;
}

cite {
    font-style: italic;
}

.testimonial:nth-child(1) {
    animation: slide-in 1s 0.5s both;
}

.testimonial:nth-child(2) {
    animation: slide-in 1s 1s both;
}

.testimonial:nth-child(3) {
    animation: slide-in 1s 1.5s both;
}

@keyframes slide-in {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}
